<h2>Show Client</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @client.name %>
  </li>

  <li>
    <strong>Secret:</strong>
    <%= @client.secret %>
  </li>

  <li>
    <strong>Redirecturi:</strong>
    <%= @client.redirectUri %>
  </li>

</ul>

<span><%= link "Edit", to: manage_client_path(@conn, :edit, @client) %></span>
<span><%= link "Back", to: manage_client_path(@conn, :index) %></span>
